.button {
  transition-duration: 0.25s;
  border-radius: 7px;
  padding: 6px 8px;
  background-color: var(--color-lighterdark);
  color: var(--color-primary);
  border: 3px solid black;
  width: auto;
  font-size: 1.1em;
  margin: 5px;
  cursor: pointer;
  user-select: none;
  &:hover {
    border: 3px solid black;
    background-color: var(--color-primary);
    color: black;
  }
  &:active {
    color: var(--color-accent);
  }
}
