.container {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
  background-color: transparent;
  gap: 20px;
  margin: 10px 15px 0px 10px;
  padding-top: 10px;
}
