.animation {
  background: linear-gradient(
    90deg,
    rgba(236, 236, 236, 0.3) 25%,
    rgba(236, 236, 236, 0.8) 50%,
    rgba(236, 236, 236, 0.3) 75%
  );
  background-size: 200% 100%;
  animation: loadingAnimation 4s linear infinite;
}

@keyframes loadingAnimation {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
